aiohttp
aiosignal
async-timeout
attrs
blinker
certifi
charset-normalizer
click
colorama
Flask
frozenlist
gTTS
MarkupSafe
multidict
python-dotenv
tqdm
urllib3
Werkzeug
yarl
google-generativeai
streamlit
openai-whisper
pyttsx3